@charset "utf-8";
*{
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    
}
body{
    background-image: url(images/sf.jpg);

}


header{
    height: 50vh;
    flex-direction: column;
    margin:25px;
    padding:0px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    float: center;
}
 img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
 a{
    color: red;
    font-size: 20px;
    text-decoration: none;
    cursor:pointer;
}


 a:hover{
    color: rgb(0, 128, 32);
    border-bottom: 2px solid rgb(0, 128, 32);
}
h1{
    text-shadow:red 3px 5px 6px;

}
h4{
    font-size: 20px;
}